body{
    font-family: Helvetica;
    font-weight: bold;
    background-color: rgba(165, 163, 163, 0.5);
}

.allContainer{
    width: 300px;
    max-width: 30%;
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 15px;
    background-color: #ffff;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 300px;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

.line__one {
    font-size: 12vw;
}

.line__two {
    font-size: 8vw;
}

.line__three{
    font-size: 6vw;
}

.line__four{
    font-size: 5.5vw;
}
.line__five{
    font-size: 3vw;
}

.line__six{
    font-size: 2vw;
}